{% extends "::base.html.twig" %}

{% block title %}AppBundle:Photo:addPhoto{% endblock %}

{% block body %}
    <div class="header" style="height: 30px; border: solid 2px black">
        <div class="headname" style="display: inline; float: left">
            <h3 style="margin: 3px 0">Photo Gallery</h3>
        </div>
        <div class="reglog" style="display: inline; float: right; margin-top: 3px; margin-right: 10px">
            Hello <a href="{{ path('app_user_profile') }}">{{ user }}</a>
        </div>
    </div>
<h1>Create new photo</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
