{% extends 'base.html.twig' %}

{% block body %}
    <div class="header" style="height: 30px; border: solid 2px black">
        <div class="headname" style="display: inline; float: left">
            <h3 style="margin: 3px 0">Photo Gallery</h3>
        </div>
        <div class="reglog" style="display: inline; float: right; margin-top: 3px; margin-right: 10px">
           Hello
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}